{% extends "base" %}

{% block content %}
<h1>Author: {{ author.name }}</h1>
Past Warriors
<table>
    <tr>
        <th>Hill</th>
        <th>Warrior</th>
        <th>Rank</th>
    </tr>
        {% for w in warriors %}
        <tr>
            <td><a href="/hill/{{ w.hill_id }}">{{ w.hill }}</a></td>
            <td><a href="/warrior/{{ w.id }}">{{ w.name }}</a></td>
            <td>{{ w.rank }}</td>
        </tr>
        {% endfor %}
</table>
{% endblock content %}
