{% extends "base" %}

{% block content %}
<h1>Warrior: {{ name }}</h1>
Hill: <a href="/hill/{{hill_id}}">{{hill}}</a><br>
Author: <a href="/author/{{author_id}}">{{author}}</a><br>
Redcode<br>
<pre>
{{ redcode }}
</pre>

{% endblock content %}
