{% extends "base" %}

{% block content %}
    <h1>Warrior List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Author</th>
        </tr>
        {% for w in warriors %}
        <tr>
            <td>{{ w.id }}</td>
            <td><a href="warrior/{{ w.name }}">{{ w.name }}</a></td>
            <td>{{ w.author }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
